<div class="container-fluid prodotti">
	<div class="row">
		<div class="col-2 catlist">
			<ul ui-sortable="sortableOptions" ng-model="cats">
			  <li ng-click="$parent.catsel=$index" on-long-click="ordinoCat();" on-long-click-release="ordinoCatEnd();" ng-class="{'ordinandocat': ordinandocat==1}" ng-repeat="cat in cats">
			  	{{cat.name}}
			  </li>
			</ul>
		</div>
		<div class="col-10 prodlist">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">Nomi e varianti</th>
			      <th scope="col">Prezzo</th>
			      <th scope="col"></th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody ui-sortable="sortableOptions" ng-model="cats[catsel].prods">
			    <tr on-long-click="ordinoProd();" on-long-click-release="ordinoProdEnd();" ng-class="{'ordinandoprod': ordinandoprod==1}" ng-repeat="prod in cats[catsel].prods">
			      <th scope="row">{{prod.name}}</th>
			      <td>{{prod.price}}€</td>
			      <td></td>
			      <td></td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="loader ng-hide" ng-show="loading">
		<img src="/img/loader.svg">
	</div>
</div>