<style>
    /* Tooltip Container */
    #custom-tooltip {
        display: none;
        position: absolute;
        background-color: #f3eadf;
        color: #000;
        border-radius: 8px;
        padding: 10px;
        font-size: 14px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    /* Tooltip Arrow */
    #custom-tooltip::after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 8px 0 8px 8px; /* modified to have the curve on the right */
        border-color: transparent transparent transparent #f3eadf; /* modified to match background color */
        top: 50%;
        right: -8px; /* modified to position on the right side */
        transform: translateY(-50%);
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-end">
			<div class="d-flex align-items-center justify-content-end" onclick="showTutorial()">
				<div id="custom-tooltip" style="display: none; margin-right: 65px;">Tutorial</div>
				<i class="fal fa-question-circle" id="tooltip-icon" style="cursor: pointer; font-size: 23px; margin-right: 30px; color: #000000;"></i>
			</div>
        </div>
    </div>
</div>
<div id="popUpDiv" style="
position: fixed;
z-index: 2;
padding: 25px;
background: #f3eadf;
border-radius: 25px;
width: 444px;
box-shadow: 3px 2px 34px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 2px 34px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 34px 0px rgba(0,0,0,0.75);
right: 16px;
width: 408px;
display: none;
" id="popUpWin">
	<p style="
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    margin: 0;
">Tutorial</p>
<iframe width="350" height="200" src="https://www.youtube.com/embed/MPYPrr0jLak" title="Webpage,Meals and gift description" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	<button style="
    position: absolute;
    border: 0;
    background: red;
    color: white;
    border-radius: 50%;
    top: -4px;
    right: -4px;
    width: 30px;
    height: 30px;
" onclick="closePopup()">X</button>
</div>

<div class="container gift">
	<div class="row">

		<div class="col-md-8 offset-md-2">
			<div class="card mb-4">
				<h4 class="card-header text-center"><i class="fal fa-gift"></i> GIFTS SUGGESTIONS</h4>
				<div class="card-body">
					<h6 class="card-subtitle mb-2 text-muted">As we know guest can’t really know your needs unless you tell them, this page is to link a webpage for a certain gift you would like to get, your guest will get a link to that page the same time as the invitation, they can pick a gift you choose, and it will be eliminated from the list, so others can’t pick the same.<br><br>And you get to know the picker on the return guest list. And you can include a link to your email account for e-transfer, so <strong>guests won’t have to carry and envelope with money all day and nothing can be lost.</strong></h6>
				</div>
			</div>
		</div>

		<div class="col-md-8 offset-md-2">
			<div class="card mb-4 mt-4">
				<h6 class="card-header text-center">GIFTS SUGGESTION LIST</h6>
				<div class="card-body">
					<table class="table table-striped" ng-show="gifts!=''">
						<tbody>
							<tr ng-repeat="gift in gifts">
								<td class="align-middle">
									<p class="name">{{gift.name}}</p>
									<p class="description">{{gift.description}}</p>
									<a href="{{gift.link}}">{{gift.link}}</a>
								</td>
								<td class="align-middle">
									<p class="description" ng-show="gift.pick">SELECTED BY <strong class="name">{{gift.pick.name}} {{gift.pick.surname}}</strong></p> 
								</td>
								<td class="text-end btns">
									<a class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal4" ng-click="$parent.editid=gift.id_gift; $parent.editname=gift.name; $parent.editlink=gift.link; $parent.editdescription=gift.description;">EDIT</a>
									<br>
									<a class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2" ng-click="$parent.delid=gift.id_gift; $parent.delname=gift.name;">DELETE</a>
								</td>
							</tr>
						</tbody>
					</table>
					<p class="text-center" ng-show="gifts==''">No gifts added yet</p>
					<button data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-down">ADD GIFT</button>
				</div>
			</div>
		</div>

		<div class="col-md-8 offset-md-2 mt-4">
			<div class="card" style="padding-bottom:10px;">
				<h6 class="card-header text-center">TRANSFER DATA</h6>
				<div class="card-body">
					<form ng-submit="savetransfer();">
						<div class="row">
							<div class="col-12 col-md-3 mb-2">
								<select ng-change="showtransfer=1" class="form-select" ng-model="transfertype" required>
									<option value="">TRANSFER TYPE</option>
									<option value="PAYPAL">PAYPAL</option>
									<option value="STRYPE">STRYPE</option>
									<option value="INTERACT TRANSFER">INTERAC TRANSFER</option>
								</select>								
							</div>
							<div class="col-12 col-md-7 mb-2">
								<input pattern="^[a-zA-Z0-9@:/_\-\.]+$" title="Email or link format invalid" ng-change="showtransfer=1" class="form-control" ng-model="transferlink" type="text" placeholder="Email or link" required>
							</div>
							<div class="col-12 col-md-2">
								<button type="submit" class="btn btn-orange w-100 ng-hide" ng-show="showtransfer">SAVE</button>
							</div>
						</div>						
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModal2Label">Delete Gift {{delname}}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h4>Are you sure to delete this gift?</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button  data-bs-dismiss="modal" ng-click="delgift();" type="button" class="btn btn-danger">Delete Gift</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModal3Label" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModal3Label">New Gift</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="nm" ng-submit="newgift();">
						<input type="text" class="form-control" ng-model="namegift" placeholder="Name" required>
						<br>
						<input type="url" class="form-control" ng-model="linkgift" placeholder="Link">
						<br>
						<textarea rows="6" class="form-control" placeholder="description" ng-model="descriptiongift" required></textarea>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" form="nm" class="btn btn-orange" onclick="if($('#nm')[0].checkValidity()) $('#exampleModal3').modal('hide')">Add Gift</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModal4Label" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModal4Label">Edit Gift {{editname}}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="em" ng-submit="editgift();">
						<input type="text" class="form-control" ng-model="editname" placeholder="Name" required>
						<br>
						<input type="url" class="form-control" ng-model="editlink" placeholder="Link">
						<br>
						<textarea rows="6" class="form-control" placeholder="Description" ng-model="editdescription" required></textarea>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" form="em" class="btn btn-orange" onclick="if($('#em')[0].checkValidity()) $('#exampleModal4').modal('hide')">Edit Gift</button>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="loader ng-hide" ng-show="loading">
	<img src="/assets/panelimages/loader.svg">
</div>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> jQuery -->
<script>
    $(document).ready(function() {
        var tooltipTimer;

        // Function to show the tooltip
        function showTooltip() {
            $('#custom-tooltip').fadeIn(); // Show the tooltip
            // Set a timer to hide the tooltip after 1 second
            setTimeout(function() {
                $('#custom-tooltip').fadeOut(); // Hide the tooltip
            }, 1000); // 1000 milliseconds = 1 second
        }

        // Mouse enter event on the tooltip icon
        $('#tooltip-icon').mouseenter(function() {
            clearTimeout(tooltipTimer); // Clear the timer if the mouse hovers over the icon
            showTooltip(); // Show the tooltip immediately on hover
        });

        // Mouse leave event on the tooltip icon
        $('#tooltip-icon').mouseleave(function() {
            // Set a new timer to hide the tooltip after 1 second if the mouse leaves
            tooltipTimer = setTimeout(function() {
                $('#custom-tooltip').fadeOut(); // Hide the tooltip
            }, 1000); // 1000 milliseconds = 1 second
        });

        // Mouse enter event on the tooltip
        $('#custom-tooltip').mouseenter(function() {
            clearTimeout(tooltipTimer); // Clear the timer if the mouse hovers over the tooltip
        });

        // Mouse leave event on the tooltip
        $('#custom-tooltip').mouseleave(function() {
            // Set a new timer to hide the tooltip after 1 second if the mouse leaves
            tooltipTimer = setTimeout(function() {
                $('#custom-tooltip').fadeOut(); // Hide the tooltip
            }, 1000); // 1000 milliseconds = 1 second
        });

        // Automatically show the tooltip after 1 second
        setTimeout(showTooltip, 1000);
    });

	function showTutorial() {
		$("#popUpDiv").css("display", "block");
	}
</script>
<script>

function closePopup() {
		// document.getElementById("popUpWin").style.display = "none";
		$("#popUpDiv").css("display", "none");
	}
	</script>