<div class="container webpage">
	<div class="row justify-content-md-center">

		<div class="col-9">
			<div class="card mb-4">
				<h4 class="card-header text-center"><i class="fab fa-paypal"></i> PAIEMENT EFFECTUE CORRECTEMENT</h4>
				<div class="card-body">
					<h6 class="card-subtitle mb-2 text-muted"><strong>Merci</strong> <br><br> Vous pouvez maintenant utiliser toutes les fonctionnalités de cet événement</h6>
				</div>
			</div>
		</div>

	</div>

</div>

<div class="loader ng-hide" ng-show="loading">
	<img src="/assets/panelimages/loader.svg">
</div>